# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/
.eggs/

# Environments
.venv/
venv/
env/

# Caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Sphinx docs build
docs/_build/

# OS / editor
.DS_Store
*.swp
